@font-face {
  font-family: "huakang";
  src: url("FAMILY/DFT-XH-1.TTF");
  /* need to be ttf can't be ttc  */
}

body {
  background-color: #c4dfdf;
  font-family: "huakang";
}

.text {
  font-size: 25px;
  text-align: center;
}

.back {
  text-align: right;
}
@media (max-width: 1250px) {
  .back {
    text-align: right;
  }

  .text {
    font-size: 25px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .back {
    text-align: right;
  }

  .text {
    font-size: 25px;
    text-align: center;
  }
}
