@font-face {
  font-family: "huakang";
  src: url("FAMILY/DFHsiu-W3-WIN-BF-01.ttf");
  /* need to be ttf can't be ttc  */
}

body {
  background-color: #ffeeb3;
  font-family: "huakang";
}

.text {
  text-align: center;
  font-size: 25px;
}

.back {
  text-align: right;
}

@media (max-width: 1250px) {
  .back {
    text-align: right;
  }

  .text {
    text-align: center;
    font-size: 25px;
  }

  .multiline-text {
    opacity: 0; /* 初始不可见 */
    animation: fade-in 2s ease-in-out forwards; /* 渐变动画 */
  }
}

@media (max-width: 500px) {
  .back {
    text-align: right;
  }

  .text {
    text-align: center;
    font-size: 25px;
  }

  .multiline-text {
    opacity: 0; /* 初始不可见 */
    animation: fade-in 2s ease-in-out forwards; /* 渐变动画 */
  }
}

.multiline-text {
  opacity: 0; /* 初始不可见 */
  animation: fade-in 2s ease-in-out forwards; /* 渐变动画 */
}

/* 渐变动画 */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-20px); /* 向下移动20像素 */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 恢复到原位置 */
  }
}
