/* 標籤名稱選擇器*/
@import "node_modules/bootstrap/scss/_card.scss";

body {
  background-color: #679289;
}

.content {
  font-size: 20px;
  text-decoration: underline;
}

.keyword {
  font-size: 20px;
}

.card {
  border-width: 8px;
  border-radius: 10px;
}

a {
  color: white;
}
.image-preview {
  width: 0px;
  position: absolute;
  left: auto;
  transition: 0.5s;
}
li {
  width: 180px;
}
a {
  transition: 0.5s;
}
a:hover + img {
  width: 100px;
  border: 5px solid white;
  border-radius: 20px;
  border-style: solid;
}

.s1 {
  color: #fff;
  padding: 5px;
  margin-top: 20px;
  display: flex;
  list-style-type: square;
}

.s1-1 {
  width: 195px;
  flex: auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.s1-2 {
  width: 195px;
  flex: auto;
  justify-content: center;
  align-items: center; /*垂直對其*/
}

.s1-3 {
  width: 195px;
  flex: auto;
  justify-content: flex-end;
  align-items: flex-end;
}

@media (max-width: 1250px) {
  .content {
    font-size: 20px;
    text-decoration: underline;
  }

  .keyword {
    font-size: 20px;
  }
  .s1 {
    flex-wrap: wrap;
    list-style-type: square;
  }

  .s1-1 {
    width: 195px;
    flex: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .s1-2 {
    width: 195px;
    flex: auto;
    justify-content: center;
    align-items: center; /*垂直對其*/
  }

  .s1-3 {
    width: 195px;
    flex: auto;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media (max-width: 500px) {
  .content {
    font-size: 20px;
    text-decoration: underline;
  }

  .keyword {
    font-size: 20px;
  }
  .s1 {
    flex-wrap: wrap;
    list-style-type: square;
  }
  .s1-1 {
    width: 75%;
    flex: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .s1-2 {
    width: 75%;
    flex: auto;
    justify-content: center;
    align-items: center; /*垂直對其*/
  }

  .s1-3 {
    width: 75%;
    flex: auto;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .desktop-menu {
    display: none;
  }

  .mobile {
    display: block;
  }
}

.multiline-text {
  opacity: 0; /* 初始不可见 */
  animation: fade-in 2s ease-in-out forwards; /* 渐变动画 */
}

/* 渐变动画 */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px); /* 向下移动20像素 */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 恢复到原位置 */
  }
}
