@font-face {
  font-family: "huakang";
  src: url("FAMILY/DFHsiu-W3-WIN-BF-01.ttf");
  /* need to be ttf can't be ttc  */
}

body {
  background-color: #7a3e3e;
  font-family: "huakang";
  font-size: 25px;
  color: white;
}

.text {
  text-align: center;
}

@media (max-width: 500px) {
  .text {
    text-align: center;
  }
}

@media (max-width: 1250px) {
  .text {
    text-align: center;
  }
}
