@font-face {
  font-family: "huakang";
  src: url("FAMILY/DFT-XH-1.TTF");
  /* need to be ttf can't be ttc  */
}

body {
  background-color: #f2921d;
  font-family: "huakang";
}

@media (max-width: 1250px) {
  .text {
    text-align: center;
    font-size: 25px;
    border: 5px solid #fff7d4;
    border-radius: 10px;
  }
}

@media (max-width: 500px) {
  .text {
    text-align: center;
    font-size: 25px;
    border: 5px solid #fff7d4;
    border-radius: 10px;
  }
}
