/* 標籤名稱選擇器*/
@import "node_modules/bootstrap/scss/_card.scss";

@font-face {
  font-family: "huakang";
  src: url("FAMILY/DFT-XH-1.TTF");
  /* need to be ttf can't be ttc  */
}

html {
  font-family: "ZCOOL KuaiLe", sans-serif;
}
body {
  background-color: #ffeeb3;
  font-family: "huakang";
}

.back {
  text-align: right;
}

.text {
  text-align: center;
}

.word {
  color: black;
  text-align: center;
}

.card {
  border-width: 8px;
  border-radius: 10px;
  color: #b8e7e1;
}

.card-group {
  height: auto;
  width: 100%;
}

.multiline-text {
  opacity: 0; /* 初始不可见 */
  animation: fade-in 2s ease-in-out forwards; /* 渐变动画 */
}

/* 渐变动画 */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-20px); /* 向下移动20像素 */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 恢复到原位置 */
  }
}

/*2023.04.27完成*/

@media (max-width: 500px) {
  .back {
    text-align: right;
  }

  .text {
    text-align: center;
  }

  .word {
    color: black;
    text-align: center;
  }

  .card {
    border-width: 8px;
    border-radius: 10px;
    color: #b8e7e1;
  }

  .card-group {
    height: auto;
    width: 100%;
  }

  .multiline-text {
    opacity: 0; /* 初始不可见 */
    animation: fade-in 2s ease-in-out forwards; /* 渐变动画 */
  }
}

@media (max-width: 1250px) {
  .back {
    text-align: right;
  }

  .text {
    text-align: center;
  }

  .word {
    color: black;
    text-align: center;
  }

  .card {
    border-width: 8px;
    border-radius: 10px;
    color: #b8e7e1;
  }

  .card-group {
    height: auto;
    width: 100%;
  }

  .multiline-text {
    opacity: 0; /* 初始不可见 */
    animation: fade-in 2s ease-in-out forwards; /* 渐变动画 */
  }
}
