@font-face {
  font-family: "huakang";
  src: url("FAMILY/DFHsiu-W3-WIN-BF-01.ttf");
  /* need to be ttf can't be ttc  */
}

body {
  background-color: #ffeeb3;
  font-family: "huakang";
}

.text {
  text-align: center;
  font-size: 25px;
}

@media (max-width: 1250px) {
  .text {
    text-align: center;
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .text {
    text-align: center;
    font-size: 25px;
  }
}
