@font-face {
  font-family: "huakang";
  src: url("FAMILY/DFHsiu-W3-WINP-BF-02.ttf");
  /* need to be ttf can't be ttc  */
}

body {
  background-color: #f2b6a0;
  font-family: "huakang";
}

span {
  text-decoration: line-through;
}

@media (max-width: 1250px) {
  span {
    text-decoration: line-through;
  }
}

@media (max-width: 500px) {
  span {
    text-decoration: line-through;
  }
}

.text-fade-in {
  font-size: 25px;
  opacity: 0;
  animation: fade-in 2s forwards;
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
