@font-face {
  font-family: "huakang";
  src: url("FAMILY/DFHsiu-W3-WINP-BF-02.ttf");
  /* need to be ttf can't be ttc  */
}

body {
  background-color: #f2b6a0;
  font-family: "huakang";
}

.text {
  font-size: 25px;
}
